<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'Nonhyeon_css/css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'Nonhyeon_css/js/scripts.js'%}"></script>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="css/styles.css" rel="stylesheet" />
            <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
        <title>신사</title>
    </head>

<body style="background-color:Snow">
        <!-- Navigation-->
        <!-- Navigation : 네비게이션 바!-->
        {% include "navbar.html" %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20200203_92%2F15807057407789IRf2_PNG%2FUB_bMrAP5sNGr4HzIjeMfXHa.png" alt="..." />
                        <div>
                            <!-- 지도생성 -->
                            <br>
                            <div id="map" style="width:600px;height:400px;"></div>
                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc3e78a83483afc1a2975e9c8844e7f0"></script>
                                <script>
                                       var container = document.getElementById('map');
                                       var options = {
                                          center: new kakao.maps.LatLng(37.524116, 127.048154),
                                          level: 3
                                       };
                                       var map = new kakao.maps.Map(container, options);
                                </script>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">서울 강남구 압구정로60길 17-5</div>
                        <h1 class="display-5 fw-bolder">더클래스청담</h1>
                        <div class="fs-5 mb-5">
                            <span>전 화 번 호 : 0507-1446-3638</span>
                        </div>
                            <p class="lead">
                                -- 더클래스 청담 하우스웨딩 --
                                <br>
                                인생에서 가장 아름다운 순간
                                당신이 꿈꾸던 웨딩을 실현할 수 있는 멋진 베뉴!
                                더클래스 청담이 함께합니다.
                                <br>
                                트렌드를 선도하는 청담동
                                도심속 아름다운 정원에서
                                하늘이 보이고 (개폐식 럭셔리어닝 설치완비)
                                숲속 느낌의 생화장식으로 진행되는
                                하우스 웨딩을 마음것 즐길 수 있는 공간
                                <br>
                                신랑 신부님과 함께 디자인한 생화로
                                커스터마이징 디자인을 연출하여
                                가든 파티의 묘미를 선보이는 공간
                                <br>
                                축복해주시는 모든 하객분들께 더클래스 청담의
                                마스터 쉐프의 품격 있는 요리로 보답할 수 있는 공간
                                <br>
                                하우스웨딩은 더클래스 청담입니다.
                                <br>
                                <br>
                                -- 더클래스 청담 기업행사 --
                                <br>
                                더클래스청담은 차별화된
                                기업행사가 가능합니다.
                                기업행사의 종류와 컨셉에 맞춰
                                기획, 세팅해 드립니다.
                                꽃장식, 소품, 테이블세팅 등 원하는 컨셉으로 준비해 드리며
                                와인테이블, 식순지, 데코픽 등에 기업을 대표하는
                                로고를 넣어 맞춤 디자인 해드립니다.
                                <br>
                                독채 건물로 프라이빗한 기업행사가 가능하며
                                런칭행사, 기업파티, 신년회, 송년회, vip행사 등
                                다양한 기업행사 경험을 바탕으로
                                품격있는 기업행사를 준비해드립니다.
                                <br>
                                접근성이 좋은 청담에서 기업의 가치를 높이는
                                기업행사를 준비해드립니다.
                            </p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <a href="http://theclasscheongdam.com/">
                                    예약하기
                                </a>
                            </button>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </section>

            <!-- 이미지 슬라이드-->
                 <div id="slideShow">
                    <ul class="slides">
                       {% for _ in '0000' %}
                              <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA1MDhfMjA0%2FMDAxNjgzNTE2NTQzNDc1.ca-4_1VSDc95zFBni0AKLKRsMjPOxAl6nYBNQyh6iksg._2ZXxWlyvFagvurKOupIR6C5uULvrW7xj8Sw5Az0kzQg.JPEG.theclass_cheongdam%2F%25C0%25CC%25B9%25CC%25C1%25F6_4.JPG" alt=""></li>
                              <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA1MDhfMjUz%2FMDAxNjgzNTE2NzcyOTY5.EF_qz5sHniBJd7LC1dGfXnXH9e5uc1MmObm_wscIJUAg.7ZL44u3yTEOcVrFae7L8R-OOPagzL9OW9QRTWYQSU3wg.JPEG.theclass_cheongdam%2F%25C0%25CC%25B9%25CC%25C1%25F6_7.JPG" alt=""></li>
                              <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEyMDFfMjY4%2FMDAxNjY5ODcyNjc4ODk0.pIWThIcBXyhEjjiEWsXkoTvqvJOwqT4lv6rosbJrjfMg.JYNelmK8ynDvwy08TpGIuKyxoNhgfkozfL_dnOJRzCQg.JPEG.theclass_cheongdam%2FKakaoTalk_20221201_120140386_06.jpg" alt=""></li>
                              <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA2MTVfODIg%2FMDAxNjg2ODQwNTY2MTg4.-mUOQbC-3qFtNztqVorur0G5fjP0b-_13u04jywClpEg.1F4f8474LhX3J9Gb9xZOt09fEjGGf5oz1hp2HmgFaocg.JPEG.lovingphotography%2F%25C0%25CC%25C0%25BA%25C1%25F6%25B4%25D482.jpg" alt=""></li>
                              <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA4MTNfMjkx%2FMDAxNjkxOTIxODg5MzQ1.pS5xOOdy8UjzcHZZbmMlLF19MuiKVUB28_FGQr0bEQcg.LIgmEAorSx1lEdz-vyEhHBtce1n6c9mVCcbBg97XpnAg.JPEG.ourtheirhome%2F20230805%25A3%25DF183833.jpg" alt=""></li>
                             <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA3MDZfMzAw%2FMDAxNjg4NjE3Njg4Mjc1.WL55pmjV416nI-dZNBFcJnPOwouzGpP8VTZRavL57Ikg.XlHGQ_wVBdCLSch5N89RUVN2EWCkndwD_2hONP2ya2kg.JPEG.jay_yuns%2F230625_%25C0%25B1%25BA%25F3%25BC%25BA%25C1%25D8_%25B4%25D4_1613.jpg" alt=""></li>
                        {% endfor %}
                    </ul>
                        <p class="controller">
                              <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                              <span class="prev">&lang;</span>
                              <span class="next">&rang;</span>
                        </p>
                </div>
                <link href="{% static 'Nonhyeon_css/css/ImageSlide.css' %}" rel="stylesheet" />
                <script src="{% static 'Nonhyeon_css/js/ImageSlide.js'%}"></script>
            <main class="mt-5 pt-5">
            <div class="container-fluid px-50">
                <h4 class="mt-4 text-center">Wedding Hall List</h4>
                <p class="mt-4 text-center">(* 해당 홈페이지 없는 경우는  웨이버 문의하기 서비스로 연결됩니다.) </p>
                <div class="card mb-4">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Addr</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            {% for i in chungdam_page_obj %}
                            <thead>
                                <tr>
                                    <!--column1은 0부터 시작하므로 mathfilters의 기능을 이용해서 +1을 만들어주었다.-->
                                    <th>{{ i.column1|add:1 }}</th>
                                    <th>
                                        {% if i.urls != "#none" %}
                                        <a href ="{{ i.urls }}">{{ i.name }}</a>
                                        {% else %}
                                        <a href ="{% url 'reservation_page' %}">{{ i.name }}</a>
                                        {% endif %}
                                    </th>
                                    <th>{{ i.addr1 }}</th>
                                    <th>{{ i.tel }}</th>
                                </tr>
                            </thead>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- 페이지네이션 -->
                <ul class="pagination pagination-lg justify-content-center">
                    <!--이전페이지 존재한다면-->
                    {% if chungdam_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ chungdam_page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" href="#">&laquo;</a>
                    </li>
                    {% endif %}
                    <!--페이지리스트-->
                    <!--페이지 범위를 하나씩 리턴-->
                    {% for data in chungdam_page_obj.paginator.page_range %}
                        <!-- paginated_chungdam_lists의 페이지 범위와 현재 페이지 숫자가 같다면 -->
                        {% if data == chungdam_page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ data }}">{{ data }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ data }}">{{ data }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <!--다음페이지-->
                    {% if chungdam_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ chungdam_page_obj.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" href="#">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </main>


        <!-- Footer-->
           {% include "footer.html" %}
        <!-- 기능을 몰라 주석처리합니다-->
        <!-- Core theme JS-->
<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>