<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="{% static 'Nonhyeon_css/css/styles.css' %}" rel="stylesheet" />
            <script src="{% static 'Nonhyeon_css/js/scripts.js'%}"></script>

            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            <link href="css/styles.css" rel="stylesheet" />
            <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
            <title>논현</title>
    </head>
<body style="background-color:Snow">
        <!-- Navigation-->
        <!-- Navigation : 네비게이션 바!-->
        {% include "navbar.html" %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://cdn.imweb.me/thumbnail/20210422/07921f9a48191.jpg" alt="..." />
                        <div>
                            <!-- 지도생성 -->
                            <br>
                            <div id="map" style="width:600px;height:400px;"></div>
                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc3e78a83483afc1a2975e9c8844e7f0"></script>
                                <script>
                                       var container = document.getElementById('map');
                                       var options = {
                                          center: new kakao.maps.LatLng(37.514305, 127.032032),
                                          level: 3
                                       };
                                       var map = new kakao.maps.Map(container, options);
                                </script>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">서울 강남구 학동로47길 5</div>
                        <h1 class="display-5 fw-bolder">라온 제나 강남</h1>
                        <div class="fs-5 mb-5">
                            <span>전 화 번 호 : 0507-1485-1219</span>
                        </div>
                            <p class="lead">
                                호텔형 컨벤션 웨딩과
                                리얼 하우스웨딩을 동시에 만날 수 있는
                                대한민국 유일무이한 웨딩 베뉴
                                <br>
                                <br>
                                건강한 웨딩 푸드
                                아름다운 플라워 장식
                                세심하고 꼼꼼하게 정돈된 굿즈 등을
                                합리적으로 만날 수 있는 라온제나가
                                2021년 02월 새로운 모습으로 고객들과 만납니다
                            </p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                    <a href="https://xn--939ao9fob394buxtzvc.com/">
                                        예약하기
                                    </a>
                            </button>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </section>
        <!-- 이미지 슬라이드-->
        <div id="slideShow">
            <ul class="slides">
                {% for _ in '0000' %}
                    <li><img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20211224_86%2F1640341655259ksUAh_JPEG%2FKakaoTalk_20210912_094419139_06.jpg" alt=""></li>
                    <li><img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20211230_130%2F1640826148993N5SAG_JPEG%2F%25BC%25AD%25BF%25EF_%25B0%25AD%25B3%25B2%25BF%25FE%25B5%25F9%25C8%25A6_%25BC%25AD%25BF%25EF%25BF%25B9%25BD%25C4%25C0%25E5%25BA%25F1%25BF%25EB__%25B6%25F3%25BF%25C2%25C1%25A6%25B3%25AA%25B0%25AD%25B3%25B2_%25282%2529.jpg" alt=""></li>
                    <li><img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20211230_22%2F1640826148959PS6Hj_JPEG%2F%25BC%25AD%25BF%25EF_%25B0%25AD%25B3%25B2%25BF%25FE%25B5%25F9%25C8%25A6_%25BC%25AD%25BF%25EF%25BF%25B9%25BD%25C4%25C0%25E5%25BA%25F1%25BF%25EB__%25B6%25F3%25BF%25C2%25C1%25A6%25B3%25AA%25B0%25AD%25B3%25B2_%25289%2529.jpg" alt=""></li>
                    <li><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA2MjNfMjE4%2FMDAxNjg3NTE4MTc4OTY1.mUwuisthOlhfa1AKhlC8bvAnccQAcG65IXf4lpd4TC8g.avgNLdwvBIdzzIji9U_fOwJ_80jQG2cgvdhKVq-ka2Mg.JPEG.ohho52%2FIMG_0595.JPG" alt=""></li>
                    <li><img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fpup-review-phinf.pstatic.net%2FMjAyMzA3MTdfNjcg%2FMDAxNjg5NTk4MTAxMDYy.qM5Jx8Iuswn2FUesbkbgbAsK__zwWzzXPpCmWUVm7QMg.IcfzGtRtQXRip_9JO4n52jFmlQAc1LMLnL3KuJjGA0Eg.JPEG%2FScreenshot_20230717_213138_KakaoTalk.jpg" alt=""></li>
                    <li><img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fpup-review-phinf.pstatic.net%2FMjAyMzA3MTdfMTkx%2FMDAxNjg5NTk4MzQ3ODU1.-j5BUch6dJDSgIHFtV_58zTmYIAU3yrllmslW5yIV-Mg.C-bE7toxj-Cz75_x3FuKAcVDbzvVj3PKDlmonQTZz48g.JPEG%2FScreenshot_20230717_213146_KakaoTalk.jpg" alt=""></li>
                {% endfor %}
            </ul>
            <p class="controller">
                  <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                  <span class="prev">&lang;</span>
                  <span class="next">&rang;</span>
            </p>
        </div>
        <link href="{% static 'Nonhyeon_css/css/ImageSlide.css' %}" rel="stylesheet" />
        <script src="{% static 'Nonhyeon_css/js/ImageSlide.js'%}"></script>
	<main class="mt-5 pt-5">
	<div class="container-fluid px-50">
		<h4 class="mt-4 text-center">Wedding Hall List</h4>
		<div class="card mb-4">
			<div class="card-header"></div>
			<div class="card-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Addr</th>
							<th>Phone</th>
						</tr>
					</thead>
                    {% for i in nonhyeon_page_obj %}
                    <thead>
                        <tr>
                            <!--column1은 0부터 시작하므로 mathfilters의 기능을 이용해서 +1을 만들어주었다.-->
                            <th>{{ i.column1|add:1 }}</th>
                            {% if i.urls != '#none' %}
                            <th>
                                <a href="{{ i.urls }}">{{ i.name }}</a>
                            </th>
                            {% else %}
                            <th>
                                <a href="{% url 'reservation_page' %}">{{ i.name}}</a>
                            </th>
                            {% endif %}
                            <th>{{ i.addr1 }}</th>
                            <th>{{ i.tel }}</th>
                        </tr>
                    </thead>
                    {% endfor %}
				</table>
			</div>
		</div>
        <!-- 페이지네이션 -->
        <ul class="pagination pagination-lg justify-content-center">
            <!--이전페이지 존재한다면-->
            {% if nonhyeon_page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ nonhyeon_page_obj.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="#">&laquo;</a>
            </li>
            {% endif %}
            <!--페이지리스트-->
            <!--페이지 범위를 하나씩 리턴-->
            {% for data in nonhyeon_page_obj.paginator.page_range %}
                <!-- nonhyeon_page_obj의 페이지 범위와 현재 페이지 숫자가 같다면 -->
                {% if data == nonhyeon_page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ data }}">{{ data }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ data }}">{{ data }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!--다음페이지-->
            {% if nonhyeon_page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ nonhyeon_page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="#">&raquo;</a>
            </li>
            {% endif %}
        </ul>
	</div>
	</main>
        <!-- Footer-->
           {% include "footer.html" %}
        <!-- 어떤 기능을 하는지 몰라서 일단 주석처리했습니다-->
        <!--<script src="js/scripts.js"></script>-->
    </body>
</html>