<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="ko">
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="{% static 'Nonhyeon_css/css/styles.css' %}" rel="stylesheet" />
            <script src="{% static 'Nonhyeon_css/js/scripts.js'%}"></script>
            <link href="css/styles.css" rel="stylesheet" />
            <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
            <title>삼성</title>
    </head>

<body style="background-color:Snow">
        <!-- Navigation-->
        <!-- Navigation : 네비게이션 바!-->
        {% include "navbar.html" %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://cdn.imweb.me/thumbnail/20230313/b857e2895ea73.jpg" alt="..." />
                        <div>
                            <!-- 지도생성 -->
                            <br>
                            <div id="map" style="width:600px;height:400px;"></div>
                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc3e78a83483afc1a2975e9c8844e7f0"></script>
                                <script>
                                       var container = document.getElementById('map');
                                       var options = {
                                          center: new kakao.maps.LatLng(37.514287, 127.056199),
                                          level: 3
                                       };
                                       var map = new kakao.maps.Map(container, options);
                                </script>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class="small mb-1">서울 강남구 봉은사로 637</div>
                        <h1 class="display-5 fw-bolder">노블발렌티 삼성점</h1>
                        <div class="fs-5 mb-5">
                            <span>전 화 번 호 : 02-540-0711</span>
                        </div>
                            <p class="lead">
                                꿈꿔왔던 그 이상의 웨딩 노블발렌티.<br/>
                                영국의 대저택 컨셉의 노블발렌티는 빅토리아 양식의 웅장하고 클래식한 느낌의 세리머니홀과 모던 클래식 컨셉의 개별 공간,
                                프라이빗하고 싱그러운 가든으로 구성되어 있습니다.<br/>
                                <br/>
                                주인공은 물론이고 게스트 역시 소중한 날의 가치를 공유할 수 있는 소통의 공간, 바로 노블발렌티가 추구하는 채플웨딩입니다.<br/>
                                <br/>
                                세상에 단 하나 뿐인 나만의 웨딩
                                세레머니 홀 내에는 노블발렌티의 심볼인 대형 '종'이 달려있어 축복의 의미를 담아 예식 시작을 성스럽게 울려줍니다.<br/>
                                <br/>
                                한국 최초의 메뉴 선택형 웨딩프로그램
                                식사 위주의 결혼식 문화에서 탈피하여 다양한 컨텐츠의 유럽식 정통 채플웨딩 스타일을 한국의 정서에 맞추어 기획합니다.<br/>
                                신문화에 대한 고객의 부담감을 배려한 다양하고 합리적인 프로그램을 제시하여 세련된 감각의 채플웨딩 스타일을 완성합니다.<br/>
                            </p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    <a href="http://www.noblevalenti.co.kr/">
                                            예약하기
                                    </a>
                            </button>
                        </div> <br>
                    </div>
                </div>
            </div>
        </section>

        <!-- 이미지 슬라이드-->
            <div id="slideShow">
                <ul class="slides">
                {% for _ in '0000' %}
                    <li><img src="https://cdn.imweb.me/thumbnail/20230519/9923abb7b89ec.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230519/957fbe3ddcaf5.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230316/272affb3ea876.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230314/03496a7f7a722.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230314/afac0d498b1f1.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230314/da3b35ec8ad6b.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230316/db30faa380c92.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230316/4db9f8291ad36.jpg" alt=""></li>
                    <li><img src="https://cdn.imweb.me/thumbnail/20230316/528bc650b02c8.jpg" alt=""></li>
                {% endfor %}
                </ul>
                <p class="controller">
                    <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                    <span class="prev">&lang;</span>
                    <span class="next">&rang;</span>
                </p>
            </div>
                <link href="{% static 'Nonhyeon_css/css/ImageSlide.css' %}" rel="stylesheet" />
                <script src="{% static 'Nonhyeon_css/js/ImageSlide.js'%}"></script>
	<main class="mt-5 pt-5">
	<div class="container-fluid px-50">
		<h4 class="mt-4 text-center">Wedding Hall List</h4>
		<div class="card mb-4">
			<div class="card-header">
			</div>
			<div class="card-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Addr</th>
							<th>Phone</th>
						</tr>
					</thead>
<!--                    {% for i in samsung_page_obj %}-->
<!--                    <tbody>-->
<!--                        &lt;!&ndash;column1은 0부터 시작하므로 mathfilters의 기능을 이용해서 +1을 만들어주었다.&ndash;&gt;-->
<!--                            <th>{{ i.column1|add:1 }}</th>-->
<!--                            <th>-->
<!--                                {% if i.urls != '#none' %}-->
<!--                                <a href ="{{ i.urls }}">{{ i.name }}</a>-->
<!--                                {% else %}-->
<!--                                <a href ="{% url 'reservation_page' %}">{{ i.name }}</a>-->
<!--                                {% endif %}-->
<!--                            </th>-->
<!--                            <th>{{ i.addr1 }}</th>-->
<!--                            <th>{{ i.tel }}</th>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                    {% endfor %}-->
<!--				</table>-->
<!--			</div>-->
<!--		</div>-->
<!--        &lt;!&ndash; 페이지네이션 &ndash;&gt;-->
<!--        <ul class="pagination pagination-lg justify-content-center">-->
<!--            &lt;!&ndash;이전페이지 존재한다면&ndash;&gt;-->
<!--            {% if samsung_page_obj.has_previous %}-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="?page={{ samsung_page_obj.previous_page_number}}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&laquo;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            {% else %}-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" tabindex="-1" href="#">&laquo;</a>-->
<!--            </li>-->
<!--            {% endif %}-->
<!--            &lt;!&ndash;페이지리스트&ndash;&gt;-->
<!--            &lt;!&ndash;페이지 범위를 하나씩 리턴&ndash;&gt;-->
<!--            {% for data in samsung_page_obj.paginator.page_range %}-->
<!--                &lt;!&ndash; nonhyeon_page_obj의 페이지 범위와 현재 페이지 숫자가 같다면 &ndash;&gt;-->
<!--                {% if data == samsung_page_obj.number %}-->
<!--                <li class="page-item active" aria-current="page">-->
<!--                    <a class="page-link" href="?page={{ data }}">{{ data }}</a>-->
<!--                </li>-->
<!--                {% else %}-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="?page={{ data }}">{{ data }}</a>-->
<!--                </li>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--            &lt;!&ndash;다음페이지&ndash;&gt;-->
<!--            {% if samsung_page_obj.has_next %}-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="?page={{ samsung_page_obj.next_page_number }}">&raquo;</a>-->
<!--            </li>-->
<!--            {% else %}-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" tabindex="-1" href="#">&raquo;</a>-->
<!--            </li>-->
<!--            {% endif %}-->
        </ul>
	</div>
	</main>
        <!-- Footer-->
           {% include "footer.html" %}
        <!-- Core theme JS-->
        <!-- 기능을 몰라 주석처리합니다-->
        <script src="js/scripts.js"></script>
    </body>
</html>